<div class="d-main-outer">
  <div class="d-main-inner di1">
    <div class="d-text-outer"><h6>CATEGORY</h6></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-women" routerLinkActive="active">WOMEN</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-shoes" routerLinkActive="active">SHOES</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-handbags" routerLinkActive="active">HANDBAGS</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-jewelry" routerLinkActive="active">JEWELRY & ACCESSORIES</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-men" routerLinkActive="active">MEN</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-kids" routerLinkActive="active">KIDS</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-home" routerLinkActive="active">HOME</button></div>
    <div class="d-text-outer"><button class="btnon acc" routerLink="/main/designers/d-all" routerLinkActive="active">ALL DESIGNERS</button></div>
  </div>
  <div class="d-main-inner di2">
    <router-outlet></router-outlet>
  </div>
</div>
