.women-main-outer{
  width: 100%;
  height: auto;
}
.w-header-outer{
  margin-top: 10px;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.w-head-text{
  font-family: 'Oswald', sans-serif;
  color: rebeccapurple;
}
.two{
  margin: 0;
}
.w-top-bar-outer{
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
}
.w-top-bar-inner{
  height: 50px;
  display: flex;
  align-items: center;
}
.tt1{
  margin-left: 20px;
  width: 20%;
}
.t2{
  font-family: 'Oswald', sans-serif;
  width: 78%;
}
.w-second-bar-outer{
  width: 100%;
  height: 210px;
  display: flex;
}
.w-second-bar-inner{
  height: 210px;
}
.wsbi1{
  width: 20%;
}
.wsbi2{
  width: 80%;
}
.wsbi-text{
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 100%;
  height: 35px;
}
.w-third-bar-outer{
  margin-top: 10px;
  width: 100%;
  height: 610px;
  display: flex;
}
.w-third-bar-inner{
  height: 610px;
}
.wtbi1{
  width: 20%;
}
.wtbi2{
  width: 80%;
}
.w-long-bar-outer{
  margin-top: 10px;
  width: 100%;
  height: 610px;
  display: flex;
}
.wtbi-items{
  width: 100%;
}
.wi1{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
}
.wi2{
  margin-top: 40px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-item{
  height: 200px;
  width: 16%;
}
.w-i{
  width: 100%;
  height: 160px;
}
.i-name{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer-outer{
  width: 100%;
  height: 300px;
  display: flex;
  border-top: dimgrey;
}
.main-footer-inner{
  width: 25%;
  height: 300px;
  background-color: #ecf0f1;
}
.mfi{
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.main-f-logo{
  width: 15%;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 80%;
}
.sub-footer-outer{
  width: 100%;
  height: 240px;
}
.sfi{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.btnon{
  border: none;
  background-color: white;
  color: cornflowerblue;
}
