<div class="main-outer">
<div class="header-outer">
  <div class="header-inner h1"></div>
  <div class="header-inner h2">
    <button class="button-h">Stores & Events</button>
    <div class="v1"></div>
    <button class="button-h">Shopping Services</button>
    <div class="v1"></div>
    <img src="https://assets.bloomingdales.com/feature/header-bcom/latest/images/flags/LK.png" class="LKR-img">
    <button class="button-h LKR">LKR</button>
    <button type="button" routerLink="/admin" routerLinkActive="active" class="btn btn-dark admin">ADMIN</button>
  </div>
</div>
  <router-outlet></router-outlet>
</div>


